*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
sucuri-test.php

# wordpress specific
wp-config.php

# wp-content
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/limit-login-attempts
wp-content/mu-plugins/wpengine-common
wp-content/mu-plugins/stop-long-comments.php
wp-content/mu-plugins/force-strong-passwords
wp-content/mysql.sql
wp-content/wp-link-status-salt.php

# assets
assets/uploads/
assets/blogs.dir/
assets/upgrade/*
assets/backup-db/*
assets/advanced-cache.php
assets/wp-cache-config.php
assets/cache/*
assets/cache/supercache/*
assets/object-cache.php
assets/mu-plugins/mu-plugin.php
assets/mu-plugins/slt-force-strong-passwords.php
assets/mu-plugins/limit-login-attempts
assets/mu-plugins/wpengine-common
assets/mu-plugins/stop-long-comments.php
assets/mu-plugins/force-strong-passwords
assets/mysql.sql
assets/wp-link-status-salt.php



# wp core (as of 3.4.1)
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes


/wp-content/index.php
/wp-content/themes/twentysixteen
/wp-content/themes/index.php
/wp-content/plugins/index.php

/assets/index.php
/assets/themes/twentysixteen
/assets/themes/index.php
/assets/plugins/index.php

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi